{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <Link rel = "stylesheet" href = "{% static 'css/style.css' %}" >
</head>
<body>
    <div id = "navbar">
        <span>글 작성</span>
    </div> 
    <div id = "post-add">
        <h1>Post Add</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <div>
            <label>제목</label>
            <br>
            <input name="title" type="text">
            <br>
        </div>
        <div>
            <label>내용</label>
            <br>
            <textarea name="content", cols="50" rows="10"></textarea>
        </div>
        <div>
            <label>썸네일</label>
            <input name="thumbnail" type="file">
        </div>
        <button type="submit" class="btn btn-primary">작성</button>
        </form>
    </div>
</body>
</html>